<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/resources/item.css">
        <script src="/resources/js/Chart.js"></script>
        <script src="/resources/js/dataset-helpers.js"></script>
    </head>
    <body>
        <div class="container header"></div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading" id="item-name"></div>
                <div class="panel-body">
                    <ul>
                        <li id="min-buyout">Min. Buyout: </li>
                        <li id="mean-buyout">Mean Buyout: </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Buyout Price over Time</div>
                <div class="panel-body">
                    <canvas id="chart-price-time-line" width="1100" height="400"></canvas>
                </div>
                <script type="text/javascript">
                 (function() {
                     var canvas = document.getElementById("chart-price-time-line");
                     var data = JSON.parse(canvas.dataset.prices);
                     var ctx = canvas.getContext("2d");

                     var priceLabel = "<%= Math.floor(value/100/100) %>g " +
                                      "<%= Math.floor(value/100) % 100 %>s " +
                                      "<%= Math.floor(value % 100) %>c";

                     var chartData = {
                         labels: DataSet.extract("postdate", data)
                                        .map(function(d) { return new Date(d); }),
                         datasets: DataSet.invert(data).slice(1)
                     };

                     var chart = new Chart(ctx).Line(chartData, {
                         scaleLabel: priceLabel,
                         multiTooltipTemplate: priceLabel,
                         datasetFill: false
                     });
                     window.chart = chart;
                 })();
                </script>
            </div>
        </div>
    </body>
</html>
