.header {
    height: 150px;
}

.gold > .price-delimiter {
    color: gold;
}

.silver > .price-delimiter {
    color: silver;
}

.copper > .price-delimiter {
    color: #c2b89e;
}

canvas {
    width: 100%;
}

nav.navbar{
	position: absolute;
	display: block;
	bottom: 0;
	float: left;}

nav ul.nav-sub li{
	padding-left: 20px;
	bottom: 0;
	display: inline;)

