.header {
    height: 150px;
}

.gold > .price-delimiter {
    color: gold;
}

.silver > .price-delimiter {
    color: silver;
}

.copper > .price-delimiter {
    color: #c2b89e;
}

canvas {
    width: 100%;
}


div.btn-group{
	margin-left: 7.5vw;
}

#r1, #r2, #r3 {
	width:25vw;
	font-family:"Impact";
	font-size:24px;
}

#logo {
	padding:50px;
	width=150%;
	height=150%
}

#middle {
	width: 30vw;
}

#next{
	width: 20vw;
}
#prev{
	width: 20vw;
}
